<div class="media-left productSlider">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% product.images.each_with_index do |image, i| %>
        <div class="item <%= 'active' if i.zero? %>" data-thumb="<%= i %>">
          <%= image_tag image.attachment(:large) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clearfix">
    <div id="thumbcarousel" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <% product.images.each_with_index do |image, i| %>
          <div data-target="#carousel" data-slide-to="<%= i %>" class="thumb">
            <%= image_tag image.attachment(:small) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
