<% provide(:title, @product.name) %>
<%= render "light_section", product: @product %>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "product_images", product: @product %>
          <div class="media-body">
            <ul class="list-inline">
              <li><i class="fa fa-reply" aria-hidden="true"></i>
                <% if @product.taxons.present?%>
                  <%= link_to "一覧ページへ戻る", potepan_category_path(@product.taxons.first.id) %>
                <% end %>
              </li>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= render "cart_form", product: @product %>
          </div>
        </div>
      </div>
    </div>
    <%= render "related_products" %>
  </div>
</section>
